*{
  margin-left: 0;
  padding: 0;
  box-sizing: border-box;
}
h2{
  text-align: center;
}
#darkgreen [class*="col-md"] {
  background-color: darkgreen;
  color: white;
}
  [class*="col-md"]{
   /* regole debug */
   height: 100px;
   background-color: wheat;
   border: 1px solid black;

 }
