*{
  margin-left: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

main{
  margin: 20px 0;
}

section{
  margin: 10px 0;
}

img{
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

  [class*="col-"]{
   /* regole debug */
   /* height: 50px; */
   /* background-color: pink;
   border: 1px solid black; */
 }

 #jumbotron{
   width: 300px;
 }
 .row_nav{
   background-color: #2b4947;
 }
  .row a h3{
   color: white;
 }
 .row_jumbo{
   background-color:#1db59a;
   color: white;
 }
